:root {
   --color: rgb(0, 0, 0);
 }

 body {
   font-size: 16px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin: 0;
   padding: 0;
 }
 
header {
   background-color: black;
   color: white;
   border-bottom: 1px solid #ccc;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 2rem;
}

.logo {
   font-size: 1.5rem;
   font-weight: bold;
}

.nav-links {
   display: flex;
   gap: 1.5rem;
}

.nav-links a {
   text-decoration: none;
   color: #ffffff;
   font-size: larger;
   transition: color 0.3s;
}

.nav-links a:hover {
   color: #007BFF; /* Change color on hover */
}

/* Toggle button for mobile */
.toggle {
   display: none;
   font-size: 1.5rem;
   cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
   .nav-links {
       display: none;
       flex-direction: column;
       position: absolute;
       top: 60px; /* Adjust based on navbar height */
       right: 0;
       background-color: white;
       width: 100%;
       border: 1px solid #ccc;
       z-index: 1;
   }

   .nav-links.active {
       display: flex;
   }

   .toggle {
       display: block;
   }
}

:root {
  --secondary-color: black;
  --contrast-color: #ff0000;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: black;
}

.container {
  display: flex;
  height: 100vh;
  font-size: large;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .8s ease;
}

.container_content {
 width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}   
    
.container_img {
  width: 100%;
  height: 150%;
  margin-left: 19px;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par {
  height: auto;
  overflow: hidden;
}

p{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.btns_more {
  background: transparent;
  border: 2px solid var(--contrast-color);
  border-radius: 50px;
  padding: 9px 12px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp .8s ease-in-out  forwards 1s;
}

.title {
  overflow: hidden;
  height: auto;
}

h1 {
    font-size: 40px;
    color: var(--contrast-color);
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.title .img{
  margin-left: 1090px;
  margin-top: -59px;
}
.title .btn{
  padding: 4px 9px;
margin-left: 40px;
position: absolute;
}
.title .heading{
  padding: 4px 9px;
margin-left: 20px;

}
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.bdy {
  /* solid background */
  background: rgb(0,212,255);
  
  /* gradient background*/
  background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(11,3,45,1) 100%);    
  
  /* photo background */
  background-image: url(https://images.unsplash.com/photo-1619204715997-1367fe5812f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1889&q=80);
  background-size: cover;
  background-position: center;  
  
  display: flex;
  align-items: center;
  justify-content: center;    
  height: 100vh;  
}

.ontainer {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.125);  
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: center;
  
}

.wrapper {
  width: 100%;
  height: 100%;
  
}

.banner-image {
  background-image: url('/iphone16.png');
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(10, 10, 10, 0.255)
}

h1{
  font-family: 'Righteous', sans-serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

p {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper{
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
  
}

.outline:hover{
  transform: scale(1.125);
  color: rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;  
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255,255,255,0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease; 
}

.fill:hover{
  transform: scale(1.125);  
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
  transition: all .3s ease;    
}

article {
  margin-top: 100px;
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  color: white;
  background: #000000;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: white;
  transition: color 0.3s ease-out;
}

article p{
 color: white; 
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;  
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #94f3ff;
}

article a:focus {
  outline: 3px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}


/* ?? text */


.text-container {
  /* background: ; */
  width: 98.4vw;
  background: gray;
  height: 100vh;
  font-weight: bold;
  font-size: 36px;
  position: relative;
  overflow: hidden;
}

.text-container > div {
  animation: come2life linear 10s infinite;
  transform-origin: center center;
  opacity: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  backface-visibility: hidden;
}

.text-container > div:nth-child(1) {
  left: 30vw;
  top: 30vh;
  animation-delay: 0s;
}

.text-container > div:nth-child(2) {
  left: 70vw;
  top: 30vh ;
  animation-delay: 4s;
}

.text-container > div:nth-child(3) {
  left: 50vw;
  top: 50vh;
  animation-delay: 8s;
}

.text-container > div:nth-child(4) {
  left: 30vw;
  top: 70vh;
  animation-delay: 6s;
}

.text-container > div:nth-child(5) {
  left: 70vw;
  top: 70vh;
  animation-delay: 2s;
}

@keyframes come2life {
  0% {
      transform: scale3d(0,0,1) rotate(0.02deg);
      opacity: 0;
      filter: blur(10px);
  }
  25% {
      transform: scale3d(1,1,1) rotate(0.02deg);
      opacity: 1;
      filter: blur(0px);
  }
  40% {
      opacity: 1;
      filter: blur(0px);
  }

  80% {
    opacity: 0;
  }

  100% {
      transform: scale3d(4,4,1) rotate(0.02deg);
      filter: blur(10px);
  }
}


/* ??footer */
#ul {
  color: #000000;
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 500px) {
  #ul {
    grid-auto-flow: column;
  }
}

.link-footer {
  text-decoration: none;
  box-shadow: inset 1 -1.9px 1 hsla(1, 1%, 10%, 0.4);
}

.link-footer:hover {
  box-shadow: inset 0 -0.2em 0 hsla(0, 0%, 0%, 0.4);
}

li:last-child {
  grid-column: 1;
  /* grid-row: 1 ; */
}

li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}


#footer {
  /* background: #000; */
  display: flex;
  height: 20vh;
  width: full;
  color: white;
  z-index: 10;
  background-color: #94989c;
  line-height: 1.3;
  font-family: Menlo, monospace;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
